{% extends 'base.html' %}


{% block hdr %}
<div class="card bg-dark text-black text-center mt-4">
  <img src="{{ tours.2.picture }}" class="p-1 card-img" style="width: auto; height: 450px;" alt="pic">
  <div class="card-img-overlay">
      <h1 class="display-3" >Всякие туры</h1>
      <p class="lead">{{ list_variables.1 }}</p>
      <p class="mt-4 w-50 mx-auto">{{ list_variables.2 }}</p>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="row mt-5" data-test="cards">
    {% for number, data in tours.items %}
    {% if number in ran %}
        {% include 'incl/_card.html' %}
    {% endif %}
    {% endfor %}

</div>
{% endblock %}