{% extends 'base.html' %}

{% block title %}
{{ block.super }} | {{tour_from_one_city.title}}
{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-body pb-0">
      <div class="mx-2 row justify-content-between" >
          <h1 class="card-title d-inline-block pr-3">{{ tour_from_one_city.title }}</h1> <h2 class="d-inline-block"> {{ tour_from_one_city.stars }} ★</h2>
      </div>
      <div class="mx-2 row justify-content-around" >
      <p class="card-text lead d-inline-block">{{ tour_from_one_city.country}} {{ city }}</p>
      <h5 class="d-inline-block">{% for tag in tags1 %} <span class="badge badge-pill badge-primary ">{{ tag }}</span>{% endfor %}</h5>
      </div>
  </div>
    <div class="row justify-content-around">
    <div style="width=100%" >
        <img class="card-img-top" style="height: 100%; width: auto" src="{{ tour_from_one_city.picture }}" alt="Card image cap">
    </div>
    </div>
  <div class="card-body">
    <p class="card-text">{{ tour_from_one_city.description }}</p>
    <a href="{% url 'karantin' %}" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ tour_from_one_city.price }}</span></a>
  </div>
</div>
{% endblock %}